.mainContainer{
    background: linear-gradient(60deg, rgb(41, 101, 239) 0%, #61DAFB 100%);
    top: 108px;
    bottom: 0;
    height: 90.65vh;
    overflow: hidden;
    overflow-y: hidden;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    

    .midContainer{
      align-items: center;
      border-radius: 16px;
      border: 3px solid white;
      background: white;
      top: 160px ;
      bottom: 70px;
      height: 600px;
      width: 900px;

      .title{
        font-size: 90px;
        font-weight: 600;
      }

      .forwardButton {
        margin-top: 120px;
        min-width: 300px;
        min-height: 60px;
        font-size: 22px;
        text-transform: uppercase;
        letter-spacing: 1.3px;
        font-weight: 700;
        color: #020202;
        background: #83f7eb;
        background: linear-gradient(90deg, rgb(84, 245, 223) 0%, rgb(60, 220, 78) 100%);
        border: none;
        border-radius: 1000px;
        box-shadow: 12px 12px 24px rgba(79, 209, 196, 0.222);
        transition: all 0.3s ease-in-out 0s;
        cursor: pointer;
        outline: none;
        position: relative;
        padding: 10px;
        }
      
      .forwardButton::before {
        content: '';
        border-radius: 1000px;
        min-width: calc(300px + 12px);
        min-height: calc(60px + 12px);
        border: 6px solid #1c7d6a;
        box-shadow: 0 0 60px rgba(0,255,203,.64);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: all .3s ease-in-out 0s;
      }
      
      &:hover , &:focus{
        color: #020202;
        transform: translateY(-6px);
      }
      
      &:hover::before, &:focus::before {
        opacity: 1;
      }
      
      .forwardButton::after {
        content: '';
        width: 30px; height: 30px;
        border-radius: 100%;
        border: 6px solid #00FFCB;
        position: absolute;
        z-index: -1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation: ring 1.5s infinite;
      }
      
      &:hover::after, &:focus::after {
        animation: none;
        display: none;
      }
      
      @keyframes ring {
        0% {
          width: 30px;
          height: 30px;
          opacity: 1;
        }
        100% {
          width: 300px;
          height: 300px;
          opacity: 0;
        }
      }

    }
}

.SosButton{
  border: 2px solid #d2bdff;
  height: 80px;
  width: 180px;
  border-radius: 15px ;
  background-color: rgb(203, 30, 21);
  position: relative;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  position: fixed;
  bottom: 30px;
  right: 80px;

  &::after {
    content: "SOS";
    font-size: 20px;
    position: absolute;
    top: 34%;
    left: 50%;
    transform: translate(-50%);
    color: #d2bdff;
    transition: all 0.1s linear;
  }

  &::before{
    content: "";
    position: relative;
    display: block;
    height: 15px;
    width: 15px;
    background: #d2bdff;
    box-shadow: 0px 0px 10px 3px #0ff;
    margin-left: -8px;
    margin-top: -8px;
    opacity: 0;
    transition: all 0.1s linear;
    border-radius: 100%;
    animation: star 1.3s linear infinite;
  }

  @keyframes star {
    0% {
      margin-left: -8px;
      margin-top: -8px;
    }
    25% {
      margin-left: 176px;
      margin-top: -8px;
    }

    50% {
      margin-left: 176px;
      margin-top: 75px;
    }
    75% {
      margin-left: -8px;
      margin-top: 75px;
    }
    100% {
      margin-left: -8px;
      margin-top: -8px;
    }
  }

  &:hover {
    &::before {
      opacity: 1;
      animation: star 1.3s linear infinite;
    }

    &::after {
      content: "Help On the Way";
      top: 34%
    }
  }
}