.mainContainer{
    background: linear-gradient(60deg, rgb(41, 101, 239) 0%, #61DAFB 100%);
    top: 108px;
    bottom: 0;
    height: 90.8vh;
    overflow: hidden;
    overflow-y: hidden;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

    .midContainer{
      align-items: center;

      background: white;
      top: 160px ;
      bottom: 70px;
      height: 600px;
      width: 900px;
    }
}

.SosButton{
  border: 2px solid #d2bdff;
  height: 80px;
  width: 180px;
  border-radius: 15px ;
  background-color: rgb(203, 30, 21);
  position: relative;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  position: fixed;
  bottom: 30px;
  right: 80px;

  &::after {
    content: "SOS";
    font-size: 20px;
    position: absolute;
    top: 34%;
    left: 50%;
    transform: translate(-50%);
    color: #d2bdff;
    transition: all 0.1s linear;
  }

  &::before{
    content: "";
    position: relative;
    display: block;
    height: 15px;
    width: 15px;
    background: #d2bdff;
    box-shadow: 0px 0px 10px 3px #0ff;
    margin-left: -8px;
    margin-top: -8px;
    opacity: 0;
    transition: all 0.1s linear;
    border-radius: 100%;
    animation: star 1.3s linear infinite;
  }

  @keyframes star {
    0% {
      margin-left: -8px;
      margin-top: -8px;
    }
    25% {
      margin-left: 176px;
      margin-top: -8px;
    }

    50% {
      margin-left: 176px;
      margin-top: 75px;
    }
    75% {
      margin-left: -8px;
      margin-top: 75px;
    }
    100% {
      margin-left: -8px;
      margin-top: -8px;
    }
  }

  &:hover {
    &::before {
      opacity: 1;
      animation: star 1.3s linear infinite;
    }

    &::after {
      content: "Help On the Way";
      top: 34%
    }
  }
}